body,html,.container-fluid,.row,.col-md-6 { margin: 0; height:95%;width: 100% }
canvas { width: 100%; height: 100% }

@-webkit-keyframes BOUNCE {
    from {top: 106px;}
    50%  {top: 86px;}
    to   {top: 106px;}
}

@-webkit-keyframes DIV-BORDER {
    0%   { border-color: orange;box-shadow: 0 0 3px 2px orange; }
    50%  { border-color: black;box-shadow: 0 0 3px 2px orange; }
    100% { border-color: orange;box-shadow: 0 0 3px 2px orange; }
}

@-webkit-keyframes HIGHLIGHT-LINE {
    0% { background-color: rgba(255, 255, 0, 0.75); }
    50% { background-color: lightgray; }
    100% { background-color: rgba(255, 255, 0, 0.75); }
}

.table{
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    height: 100%;
    background-color : lightgrey;
}
.table>tbody>tr>td{
    border-right : 1px solid black;
    height : 90px;
}
.table>tbody>tr:not(:first-child)>td{
    border-top: none;
}

.table>tbody>tr:first-child>td{
    border-color: black;
    border-top-color : lightgrey;
}
.element{
    border: 1px solid grey;
    border-radius: 50%;
    height:100%;
    background-color : white;
}
.element.highlighted:hover{
    cursor: pointer;
}

.highlighted{
    -webkit-transition: all 1s;
    -webkit-animation: DIV-BORDER 2s infinite;
}

.bouncing{
    /*position : absolute;*/
    -webkit-animation: BOUNCE .35s infinite;
}

.blured{
    filter : blur(2px);
"opacity" : 0.5;
}

.panel-primary{
    margin-top : 20px;
}
.is-player-one{
    background-color : #ff7043 !important;
}
.is-player-two{
    background-color : #64b5f6 !important;
}
.blocked{
    background-color : grey !important;
}
.formPlayer>.input-group:not(:first-child){
    margin-top : 10px;
}

.panelReplay input{
    visibility: hidden;
}
.panelReplay input:checked + label{
    background-color: rgba(0,195,254,0.6);
}
.panelReplay label{
    cursor: pointer;
}


.panel-footer.row{
    margin-right : 0 !important;
    margin-left : 0 !important;
}

.panel-footer.row > .col-md-12:last-child{
    margin-top:10px;
}

.losingPDV{
    font-weight: bold;
    color : #f70404;
    font-size: 18px;
}

.healingPDV{
    font-weight: bold;
    color : #089c08;
    font-size: 18px;
}

.waitOnline img{
    height: 20px;
}

.alertWaitingOnline{
    margin-top:5px;
    padding: 5px 5px 5px 15px !important;
}

.input-group-btn input{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    z-index: 2;
    margin-left: -1px;
}

.game{
    display:none;
}

.interstellar{
    background: url("../images/Interstellar.gif") center no-repeat;
    background-size: cover;
}

.constantBackground{
    background: url("../images/dust.gif") center no-repeat;
    background-size: cover;
}

.myCards,.tableGame{
    margin-top:20px;
    padding: 0 10px 0 10px
}

.card {
    height: 250px;
    border-radius: 10px !important;
    padding : 0 !important;
    margin-top: 10px !important;
}

.card .panel-heading{
    border-radius: 10px 10px 0 0;
    text-align: center;
}

.card .panel-body p {
    color: white;
    font-size: large;
    font-weight: bold;
    text-shadow: 1px 0 1px black;
}

.highlightLine:hover{
    -webkit-transition: all 1s;
    -webkit-animation: HIGHLIGHT-LINE 2s infinite;
    cursor: pointer;
}

.highlightColumn{
    -webkit-transition: all 1s;
    -webkit-animation: HIGHLIGHT-LINE 2s infinite;
    cursor: pointer;
}

.activateCard{
    box-shadow: 0 -2px 2px 8px rgba(255,255,0,0.5) !important;
}

#modalCards .row{
    margin : 0 !important;
}

.cardChoose{
    transition: box-shadow 0.5s,transform 0.5s;
    height: 200px;
    cursor : pointer;
}

.cardChoose:hover{
    box-shadow: 0 0 10px 3px #7bcfe2;
    transform: scale(1.1);

}

/*.foresight{*/
    /*background: url("../images/cards/testForesight.png") center no-repeat;*/
    /*background-size: cover;*/
    /*opacity: 1;*/
/*}*/

/*.savior{*/
    /*background: url("../images/cards/testSavior.png") center no-repeat;*/
    /*background-size: cover;*/
    /*opacity: 1;*/
/*}*/