<div class="popover" role="tooltip">
    <h2 class="popover-title">
        <!-- Remplis via le JS -->
    </h2>
    <div class="popover-content-reform">
        <h4>Règles :</h4>
        <hr>
        <div class="row firstBlockPopover">
            <div class="col-md-10">
                <p>Pour obtenir la victoire, la règle est simple : Vous devez mettre les points de vie de votre adversaire à 0.</p>
                <p>Pour cela, il faut aligner 4 jetons ou plus de votre couleur afin d'effectuer un combo et réduire les points de vie de votre adversaire.</p>
                <p>Tous les trois tours, des jetons bloquant viendront vous barrer la route.</p>
            </div>
            <div class="col-md-2">
                <table>
                    <tbody>
                        <tr>
                            <td><div class="element is-player-one">&nbsp;</div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-5 secondBlockPopover">
                <div class="card col-md-12 panel panel-primary">
                    <div class="panel-heading">
                        <h5>Destructor</h5>
                    </div>
                    <div class="panel-body">
                        <p>Détruit tous les jetons présents sur la ligne selectionnée</p>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <p>
                    Les cartes sont la pour vous aider pendant le combat. Chaque carte dispose
                    d'un pouvoir unique pouvant renverser la situation.
                </p>
                <p>
                    Avant chaque début de partie,
                    vous devez choisir 6 cartes parmis 13 disponibles.
                </p>
                <p>
                    Ces cartes sont générés aléatoires,
                    ce qui veut dire que vous pouvez avoir plusieurs exemplaires de la même carte.
                </p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <p>
                    <i class="glyphicon glyphicon-warning-sign"></i><i> Attention</i>, lorsque qu'un combo
                    est realisé, tous les jetons au dessus retombent! Prudence afin d'éviter que la situation
                    se retourne contre vous!
                </p>
            </div>
        </div>
    </div>
</div>